{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "riak_core_anagrammer", "1",
        [
         kernel,
         stdlib,
         sasl,
         riak_core_anagrammer
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_core_anagrammer"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, riak_core_anagrammer, [{incl_cond, include}]}
      ]}.

{target_dir, "riak_core_anagrammer"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/riak_core_anagrammer", "bin/riak_core_anagrammer"},
           {template, "files/riak_core_anagrammer-admin", "bin/riak_core_anagrammer-admin"}
           ]}.
